
<div class="container">
  <div class="row">
    <div class="col-8 offset-2">
      <h1><%= "#{current_user.first_name}" %></h1>


      <h2>Vos arenas proposés à la location :</h2>
      <% if @arenas.size > 0 %>

<div class="cards">
        <% @arenas.each do |arena| %>
        <div class="card zoom" data-aos="zoom-in-up">
          <div class="card-picture" data-id="<%= arena.id %>">
            <% if !arena.photo.nil? %>
              <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)),
           url('<%= image_path arena.photo, height: 300, width: 400, crop: :fill %>')">
              </div>
            <% else %>
              <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)),
           url('https://images.unsplash.com/photo-1519741347686-c1e0aadf4611?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1980&q=80')">
              </div>
            <% end %>
          </div>
          <div class="card-body">
            <h2>🥊 <%= arena.title %></h2>
              <p class="card-text">🧮<%=  arena.price %>€</p>
              <p class="card-text">📌<%=  arena.address %></p>
          </div>
        </div>
        <% end %>
      </div>


        <div class="">
          <ul>
            <% @arenas.each do |arena| %>
              <li>
                <%= link_to "#{arena.title}", arena_path(arena) %> :
                <%= arena.description %>
                - <%= arena.price %> €
              </li>
            <% end %>
          </ul>
        </div>
      <% else %>
        <span> Vous n'avez pas d'arènes en locations</span>
      <% end %>

      <div class="">
        <h2>Your bookings as a fighter</h2>
        <ul>
        <% @bookings.each do |booking| %>
          <li>
            <h3><%= link_to "#{booking.arena.title}", arena_path(booking.arena) %> :</h3>
            <p><%= booking.arena.description %></p>
            <p>- <%= booking.arena.price %></p>
            <p>status : <%= booking.status %> </p>
          </li>
        <% end %>
        </ul>
      </div>

      <div class="">
        <h2>Your bookings as a owner</h2>
        <ul>
        <% @my_bookings.each do |booking| %>

            <% if booking.status == "pending" %>
            <li>
              <h3><%= link_to "#{booking.arena.title}", arena_path(booking.arena) %> :</h3>
              <p><%= booking.arena.description %></p>
              <p>- <%= booking.arena.price %></p>
              <p>status : <%= booking.status %> </p>
              <p><%= link_to "accept", accept_booking_path(booking), method: :patch %></p>
              <p><%= link_to "decline", decline_booking_path(booking), method: :patch %></p>
            </li>
          <% end %>
        <% end %>
        </ul>
      </div>

​    </div>
​  </div>
​</div>
