
<div class="container">
  <div class="row">
    <div class="col-8 offset-2">
      <h1><%= "#{current_user.first_name}" %></h1>


      <h2>Vos arenas proposés à la location :</h2>
      <% if @arenas.size > 0 %>

<div class="cards">
        <% @arenas.each do |arena| %>
        <div class="card zoom" data-aos="zoom-in-up">
          <div class="card-picture" data-id="<%= arena.id %>">
            <% if !arena.photo.nil? %>
              <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)),
           url('<%= image_path arena.photo, height: 300, width: 400, crop: :fill %>')">
              </div>
            <% else %>
              <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)),
           url('https://images.unsplash.com/photo-1519741347686-c1e0aadf4611?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1980&q=80')">
              </div>
            <% end %>
          </div>
          <div class="card-body">
            <h2>🥊 <%= arena.title %></h2>
              <p class="card-text">🧮<%=  arena.price %>€</p>
              <p class="card-text">📌<%=  arena.address %></p>
          </div>
        </div>
        <% end %>
      </div>
      <% else %>
        <span> Vous n'avez pas d'arènes en locations</span>
      <% end %>

      <div class="">
        <h2>Your bookings as a fighter</h2>

        <div class="cards">
          <% @bookings.each do |booking| %>
          <div class="card zoom" data-aos="zoom-in-up">
            <div class="card-picture" data-id="<%= booking.arena.id %>">
              <% if !booking.arena.photo.nil? %>
                <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)),
             url('<%= image_path booking.arena.photo, height: 300, width: 400, crop: :fill %>')">
                </div>
              <% else %>
                <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)),
             url('https://images.unsplash.com/photo-1519741347686-c1e0aadf4611?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1980&q=80')">
                </div>
              <% end %>
            </div>
            <div class="card-body">
              <h2>🥊 <%= booking.arena.title %></h2>
                <p class="card-text">🧮<%=  booking.arena.price %>€</p>
                <p class="card-text">📌<%=  booking.arena.address %></p>
                <% if booking.status == 'accepted' %>
                <p class="card-text">status : <span class="green"><%= booking.status %></span> </p>
                <% elsif booking.status == 'pending' %>
                <p class="card-text">status : <span class="orange"><%= booking.status %></span> </p>
                <% else %>
                <p class="card-text">status : <span class="red"><%= booking.status %></span></p>
                <% end %>

            </div>
          </div>
          <% end %>
        </div>
      </div>

      <div class="">
        <h2>Your bookings as a owner</h2>

        <div class="cards">
          <% @my_bookings.each do |booking| %>
          <% if booking.status == "pending" %>
          <div class="card zoom" data-aos="zoom-in-up">
            <div class="card-picture" data-id="<%= booking.arena.id %>">
              <% if !booking.arena.photo.nil? %>
                <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)),
             url('<%= image_path booking.arena.photo, height: 300, width: 400, crop: :fill %>')">
                </div>
              <% else %>
                <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)),
             url('https://images.unsplash.com/photo-1519741347686-c1e0aadf4611?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1980&q=80')">
                </div>
              <% end %>
            </div>
            <div class="card-body">
              <h2>🥊 <%= booking.arena.title %></h2>
                <p class="card-text">🧮<%=  booking.arena.price %>€</p>
                <p class="card-text">📌<%=  booking.arena.address %></p>
                <p class="card-text">status : <%= booking.status %> </p>
                <p><%= link_to "accept", accept_booking_path(booking), method: :patch, class: 'btn btn-success' %></p>
                <p><%= link_to "decline", decline_booking_path(booking), method: :patch, class: 'btn btn-danger' %></p>
            </div>
          </div>
          <% end %>
          <% end %>
        </div>
      </div>

​    </div>
​  </div>
​</div>
