
<div class="container">
  <div class="row">
    <div class="col-8 offset-2">
      <h1><%= "#{current_user.first_name}" %></h1>


      <h3>Vos arenas proposés à la location :</h3>
      <% if @arenas.size > 0 %>
        <div class="">
          <ul>
            <% @arenas.each do |arena| %>
              <li>
                <%= link_to "#{arena.title}", arena_path(arena) %> :
                <%= arena.description %>
                - <%= arena.price %> €
              </li>
            <% end %>
            </ul>
            <% else %>
            <span> Vous n'avez pas d'arènes en locations</span>
        </div>
      <% end %>

      <div class="">
        <h3>Vos demandes de reservations</h3>
        <% @bookings.each do |booking| %> <ul>
              <li>
                <%= link_to "#{booking.arena_id.title}", #arena_path(arena) %> :
                <%= booking.arena_id.description %>
                - <%= booking.arena_id.price %> €<br>
                <span>status :</span> <%= booking.status%>
              </li>
            <% end %>
            </ul>
            <% else %>
            <% end %>
      </div>
​    </div>
​  </div>
​</div>
