<div class="container">
  <div class="row justify-content-center align-item-center">
    <div class="col-6">
      <div class="fight-form" data-aos="fade-down"
     data-aos-easing="linear"
     data-aos-duration="1500">
        <h1 class="text-center">Create your arena</h1>

        <%= simple_form_for @arena do |f| %>

          <%= f.input :title, placeholder: "Title", label: false %>

          <%= f.input :address, label: false, placeholder: "Address" %>

          <%= f.input :capacity, label: false, placeholder: "Capacity" %>

          <%= f.input :description, label: false, placeholder: "Description" %>
          <%= f.input :price, label: false, placeholder: "Price per day" %>

          <%= f.input :photo, label: false %>

          <%= f.input :photo_cache, as: :hidden %>


            <div class="d-flex justify-content-between">
              <button type="button" class="btn btn-primary review-btn" data-toggle="modal" data-target="#exampleModalCenter">
                  Review Your Arena
              </button>

              <%= f.submit %>

            </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">

      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">Your Arena</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">
        <p>Title: <span class="title-modal"></span></p>
        <p>Description: <span class="description-modal"></span></p>
        <p>Photo: <%= image_tag "", width: 300, class: "hidden", id: "photo-preview" %></p>
        <p>Price: <span class="price-modal"></span></p>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
</div>




