<div class="container">
  <div class="row justify-content-center align-item-center">
    <div class="col-4">
      <div class="fight-form">
        <%= simple_form_for @arena do |f| %>
          <%= f.input :title, placeholder: "title", label: false %>

          <%= f.input :description, label: false, placeholder: "description" %>

          <%= f.input :photo, input_html: { class: 'hidden', id: 'photo-input'}, label_html: { class: 'upload-photo'}, label: '📷 Upload a photo' %>

          <%= f.input :photo_cache, as: :hidden %>

          <%= f.input :price, label: false, placeholder: "price" %>
          <div class="d-flex justify-content-between">
            <button type="button" class="btn btn-primary review-btn" data-toggle="modal" data-target="#exampleModalCenter">
                Review Your Arena
            </button>

            <%= f.submit %>

          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">Your Arena</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>title: <span class="title-modal"></span></p>
        <p>description: <span class="description-modal"></span></p>
        <p>photo: <%= image_tag "", width: 300, class: "hidden", id: "photo-preview" %></p>
        <p>price: <span class="price-modal"></span></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

      </div>
    </div>
  </div>
</div>




