<h1>show</h1>
<h1><%= @arena.title %></h1>
<p><%= @arena.description %></p>
<p><%= @arena.photo %></p>
<p><%= @arena.price %></p>

<%= link_to "Back to all arenas", arenas_path %>
<br>
<%= link_to "Destroy #{@arena.title}", arena_path(@arena), method: :delete, data: { confirm: "Are you sure?"} %>
