<div class="jumbotron">
  <div class="row">
    <div class="col-4 offset-4">
      <h1><%= @arena.title %></h1>

      <hr>
    </div>

  </div>

</div>
<div id="main">
      <div class="container">
        <div class="row">

          <!-- Content -->
          <div id="content" class="8u skel-cell-important">
            <section>
              <header>
                <h2>Welcome to <%= @arena.title %></h2>
                <span class="byline">Integer sit amet pede vel arcu aliquet pretium</span>
              </header>
              <a href="#" class="image full"><img src="images/pic07.jpg" alt=""></a>
              <p>This is <strong>Iridium</strong>, a responsive HTML5 site template freebie by <a href="http://templated.co">TEMPLATED</a>. Released for free under the <a href="http://templated.co/license">Creative Commons Attribution</a> license, so use it for whatever (personal or commercial) – just give us credit! Check out more of our stuff at <a href="http://templated.co">our site</a> or follow us on <a href="http://twitter.com/templatedco">Twitter</a>.</p>
              <p>Sed etiam vestibulum velit, euismod lacinia quam nisl id lorem. Quisque erat. Vestibulum pellentesque, justo mollis pretium suscipit, justo nulla blandit libero, in blandit augue justo quis nisl. Fusce mattis viverra elit. Fusce quis tortor. Consectetuer adipiscing elit. Nam pede erat, porta eu, lobortis eget lorem ipsum dolor.</p>
            </section>
          </div>

          <!-- Sidebar -->
          <div id="sidebar" class="4u">
            <section>
              <header>
                <h2>Pellentesque vulputate</h2>
              </header>
              <ul class="style">
                <li>
                  <p class="posted">August 11, 2002  |  (10 )  Comments</p>
                  <img src="images/pic04.jpg" alt="">
                  <p class="text">Nullam non wisi a sem eleifend. Donec mattis libero eget urna. Pellentesque viverra enim.</p>
                </li>
                <li>
                  <p class="posted">August 11, 2002  |  (10 )  Comments</p>
                  <img src="images/pic05.jpg" alt="">
                  <p class="text">Nullam non wisi a sem eleifend. Donec mattis libero eget urna. Pellentesque viverra enim.</p>
                </li>
                <li>
                  <p class="posted">August 11, 2002  |  (10 )  Comments</p>
                  <img src="images/pic06.jpg" alt="">
                  <p class="text">Nullam non wisi a sem eleifend. Donec mattis libero eget urna. Pellentesque viverra enim.</p>
                </li>
              </ul>
            </section>
          </div>
        </div>
      </div>
    </div>

<!-- <div class="card-show pb-3">
  <%= cl_image_tag(@arena.photo, style: "height: 450px")%>
  <div class="container">
  <h1><%= @arena.title %></h1>
  <div class="d-flex justify-content-between align-items-center card-trip-infos">
    <h3><%= @arena.description%></h3>
    <h2><%=@arena.price%><i class="fab fa-bitcoin"></i></h2>

  </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <col-4 class="col-4 offset-4">


      <br>

      <% if policy(@arena).update? %>
        <%= link_to edit_arena_path do %>
          <i class="fas fa-pencil-alt"></i>
        <% end %>
      <% end %>

      <% if policy(@arena).destroy? %>
        <%= link_to arena_path, method: :delete, data: { confirm: "Are you sure?"} do %>
          <i class="fas fa-trash"></i>
        <% end %>
      <% end %>

      <%= link_to "Back to all arenas", arenas_path %>


      <%= simple_form_for [@arena, @booking] do |f| %>
        <%= f.input :start_at, as: :string %>
        <%= f.input :ends_at, as: :string %>
        <%= f.submit "Book this arena", class: "btn btn-primary" %>
      <% end %>

    </col-4>
  </div>
</div> -->


