<h1>show</h1>
<h1><%= @arena.title %></h1>
<p><%= @arena.description %></p>
<p><%= @arena.photo %></p>
<p><%= @arena.price %></p>


<br>

<% if policy(@arena).update? %>
  <%= link_to edit_arena_path do %>
    <i class="fas fa-pencil-alt"></i>
  <% end %>
<% end %>

<% if policy(@arena).destroy? %>
  <%= link_to arena_path, method: :delete, data: { confirm: "Are you sure?"} do %>
    <i class="fas fa-trash"></i>
  <% end %>
<% end %>

<%= link_to "Back to all arenas", arenas_path %>


<%= simple_form_for [@arena, @booking] do |f| %>
  <%= f.input :start_at, as: :date %>
  <%= f.input :ends_at, as: :date %>
  <%= f.submit "Book this arena", class: "btn btn-primary" %>
<% end %>
